<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Wine Store</title>
</head>

<body class="bg-grey">
    <!--   ## Bloque Barra Principal  -->
    <div class="bloqueBarraPrincipal">
        <div class="barraPrincipal">
            <ul class="barraIzquierda">
                <li class="li-barra">
                    <img class="logo" src="img/logo.png">
                </li>
                <li class="li-barra">
                    <a href="home.html">HOME</a>
                </li>
                <li class="li-barra">
                    <a href="productos.html">PRODUCTOS</a>
                </li>
                <li class="li-barra">
                    <a href="#formulario-contacto">CONTACTO</a>
                </li>
            </ul>
            <ul class="barraDerecha">
                <li class="li-barra">
                    <a href="ingreso.html">INGRESAR</a></li>
                <li class="li-barra">
                    <a href="registro.html">REGISTRARSE</a>
                </li>
                <li class="li-barra">
                    <img class="carrito" src="img/carrito.jpg">
                </li>
            </ul>
        </div>
    </div>
    <!-- Fin Menu------------------------------------------------------------>
    </div>
    <div class="contenedor">
        <div class="block-tittle">
            MI CARRITO
        </div>
        <div class="contcarrito">
            <table class="noventa">
                <thead>
                    <tr>
                        <td class="columnachica">Codigo</td>
                        <td class="columnagrande">Descripcion Producto</td>
                        <td class="columnachica">Precio</td>
                        <td class="columnachica">Cantidad</td>
                        <td class="columnachica">Total</td>
                    </tr>
                    <tr>
                        <td class="columnachica"><br></td>
                        <td class="columnagrande"></td>
                        <td class="columnachica"></td>
                        <td class="columnachica"></td>
                        <td class="columnachica"></td>
                    </tr>
                    <tr>
                        <td class="columnachica"><br></td>
                        <td class="columnagrande"></td>
                        <td class="columnachica"></td>
                        <td class="columnachica"></td>
                        <td class="columnachica"></td>
                    </tr>
                    <tr>
                        <td class="columnachica"><br></td>
                        <td class="columnagrande"></td>
                        <td class="columnachica"></td>
                        <td class="columnachica"></td>
                        <td class="columnachica"></td>
                    </tr>
                    <tr>
                        <td class="btntotal" colspan="4">
                            Total
                        </td>
                    </tr>
                </thead>
            </table>
            <div class="btncarrito">
                <div class="botoncarrito">
                    <a href="#" class="btn-light pgl-3-f">
                        SEGUIR COMPRANDO
                    </a>
                </div>
                <div class="botoncarrito">
                    <a href="#" class="btn-light pgl-3-f">
                        IR AL PAGO
                    </a>
                </div>

            </div>
        </div>

    </div>


    <!-- Inicio Fotter---------------------------------------------------------->
    <div class="footer" class="footer">
        <div class="f-bloque-iz">
            SEGUINOS EN
            <img class="iconoFooter" src="iconos/facebookblanco64.png">
            <img class="iconoFooter" src="iconos/instagramblanco64.png">
        </div>
        <div class="f-bloque-de">
            Derechos Reservados a Wine Store -2020-
        </div>
    </div>
    <!-- Fin Fotter-------------------------------------------------------------->