<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Wine Store</title>
</head>

<body class="body-home">

    <div class="d-size">
        <img class="imagenC" src="img/vino2.png">
    </div>

    <div class="i-block">
        <a class="btn-tienda" href="#">Ir <br>a la Tienda</a>
    </div>

    <!--   ## Bloque Barra Principal  -->
    <div class="bloqueBarraPrincipal">
        <div class="barraPrincipal">
            <ul class="barraIzquierda">
                <li class="li-barra">
                    <img class="logo" src="img/logo.png">
                </li>
                <li class="li-barra">
                    <a href="home.html">HOME</a>
                </li>
                <li class="li-barra">
                    <a href="productos.html">PRODUCTOS</a>
                </li>
                <li class="li-barra">
                    <a href="#formulario-contacto">CONTACTO</a>
                </li>
            </ul>
            <ul class="barraDerecha">
                <li class="li-barra">
                    <a href="ingreso.html">INGRESAR</a></li>
                <li class="li-barra">
                    <a href="registro.html">REGISTRARSE</a>
                </li>
                <li class="li-barra">
                    <img class="carrito" src="img/carrito.jpg">
                </li>
            </ul>
        </div>
    </div>
    <!-- Fin Menu------------------------------------------------------------>

    <!-- Formulario de Contacto -------------------------------------->
    <div class="d-left">
        <div class="d-block">
            <div class="block-tittle">
                CONTACTANOS
            </div>
            <form class="block-form" action="#" method="post">
                <input type="text" class="item-form" name="user_name" placeholder="Nombre">
                <input type="email" class="item-form" name="user_mail" placeholder="Email">
                <textarea class="item-form" name="user_message" placeholder="Mensaje"></textarea><br> <button class="btn-enviar" type="submit">ENVIAR</button><br><br>
            </form>
        </div>
    </div>


    <!-- Inicio Fotter---------------------------------------------------------->
    <div class="footer" class="footer">
        <div class="f-bloque-iz">
            SEGUINOS EN
            <img class="iconoFooter" src="iconos/facebookblanco64.png">
            <img class="iconoFooter" src="iconos/instagramblanco64.png">
        </div>
        <div class="f-bloque-de">
            Derechos Reservados a Wine Store -2020-
        </div>
    </div>
    <!-- Fin Fotter-------------------------------------------------------------->

</body>

</html>