<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wine Store</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- Tarjeta -->

    <div class="tarjeta">
        <div class="tarjeta-up">
            <img src="img/logo.png" class="logo">
        </div>
        <div class="tarjeta-down">
            <div class="td-izquierdo">
                <img src="img/copa1.jpg" class="copa-m">
            </div>
            <div class="td-derecho">
                <div class="tdd-bloque">
                    BIENVENIDO
                </div>
                <div class="tdd-bloque">
                    ¿Sos Mayor de Edad?
                </div>
                <div class="tdd-bloque">
                    <div class="opciones">
                        <a class="btn-dark">SI</a>
                        <a class="btn-dark">NO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <div class="footer">
        <div class="f-bloque-iz">
            SEGUINOS EN &nbsp
            <img src="iconos/facebookblanco64.png" class="iconoFooter">
            <img src="iconos/instagramblanco64.png" class="iconoFooter">

        </div>
        <div class="f-bloque-de">
            Derechos Reservados a Wine Store -2020-
        </div>
    </div>

</body>

</html>