<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Wine Store</title>
</head>

<body class="bg-grey">
    <!--   ## Bloque Barra Principal  -->
    <div class="bloqueBarraPrincipal">
        <div class="barraPrincipal">
            <ul class="barraIzquierda">
                <li class="li-barra">
                    <img class="logo" src="img/logo.png">
                </li>
                <li class="li-barra">
                    <a href="home.html">HOME</a>
                </li>
                <li class="li-barra">
                    <a href="productos.html">PRODUCTOS</a>
                </li>
                <li class="li-barra">
                    <a href="#formulario-contacto">CONTACTO</a>
                </li>
            </ul>
            <ul class="barraDerecha">
                <li class="li-barra">
                    <a href="ingreso.html">INGRESAR</a></li>
                <li class="li-barra">
                    <a href="registro.html">REGISTRARSE</a>
                </li>
                <li class="li-barra">
                    <img class="carrito" src="img/carrito.jpg">
                </li>
            </ul>
        </div>
    </div>
    <!-- Fin Menu------------------------------------------------------------>

    <br>
    <div class="titulopagos">ELIGE TU MEDIO DE PAGO</div><br>
    <div class="contpagos">
        <br><input type="text" class="itemcontpagos" name="username" placeholder="Nombre del Titular de la Tarjeta"><br>
        <input type="text" class="itemcontpagos" name="tarjeta" placeholder="Tarjeta"><br>
        <input type="text" class="itemcontpagos" name="username" placeholder="Numero"><br>
        <input type="text" class="itemcontpagos" name="tarjeta" placeholder="Codigo de validacion"><br>
        <input type="text" class="itemcontpagos" name="username" placeholder="Fecha de vencimiento"><br>
        <input type="text" class="itemcontpagos" name="tarjeta" placeholder="Cuotas"><br>
        <input type="text" class="itemcontpagos" name="username" placeholder="Importe"><br>
        <button class="btn-enviar" type="submit">CONFIRMAR</button><br><br>
    </div>
    <br>
    <!-- Inicio Fotter---------------------------------------------------------->
    <div class="footer" class="footer">
        <div class="f-bloque-iz">
            SEGUINOS EN
            <img class="iconoFooter" src="iconos/facebookblanco64.png">
            <img class="iconoFooter" src="iconos/instagramblanco64.png">
        </div>
        <div class="f-bloque-de">
            Derechos Reservados a Wine Store -2020-
        </div>
    </div>
    <!-- Fin Fotter-------------------------------------------------------------->